body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
.App{
    /* background-image: url('assets/backgrounds/04d.jpg'); */
    background-position: center;
    background-size: cover; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Header*/
.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 7px darkgrey;
    border-radius: 20px;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 10vh;
    padding: 1rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.country__name{
    margin-left: 4px;
    color: cadetblue;
    font-size: 16px;
}
.temperature__change{
    border-radius: 50%;
    padding: 10px;
    border: none;
    background-color: cadetblue;
    box-shadow: 3px 3px 5px darkgray;
    cursor: pointer;
    font-weight: 600;
    color: white;
}
.temperature__change:hover{
    opacity: 0.7;
    box-shadow: 3px 3px 7px black;
}
/*Main*/
.weather__temperature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.3);
    width: 240px;
    padding: 1rem;
    height: 300px;
}
.icon__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    position: relative;
}
.icon__container img{
    width: 100px;
    margin-top: -30px;
}
.icon__container h3{
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-top: -20px;
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
}
.main__temperature{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temperature__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    position: relative;
}
.temperature{
    font-size: 50px;
    margin-top: -10px;
    padding: 0 0.5rem;
    color: white;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0.3)));
    text-shadow: 3px 3px 5px black;  
}
.main__temperature p{
    font-weight: 600;
    margin-top: -50px;
    color: white;
    text-shadow: 2px 2px 5px black; 
}
.minmax{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-weight: 600;
    margin-top: -55px;
    font-size: 9px;
}
/*Footer*/
ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4px;
    list-style: none;
    background-color: white;
    width: 240px;
    padding: 1rem;
    margin-top: -10px;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 0;
    padding-bottom: 1rem;
}
ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 2px solid cadetblue;
    width: 45px;
    padding: 0.5rem;
}
ul li:nth-child(1){
    border-left: none;
}
.name__tag{
    font-size: 9px;
    opacity: 0.7;
}
.info__tag{
    font-weight: 600;
    font-size: 14px;
}
/*Loading*/
.loader__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
}
.loading{
    position: absolute;
    padding: 1rem;
    font-weight: 600;
    color: cadetblue;
    font-size: 16px;
    text-shadow: 4px 4px 7px white;
}
.dot{
    background-color: cadetblue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 3s;
    position: relative;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    box-shadow: 3px 3px 7px white;
}
@keyframes loading {
    0%{
        background-color: cadetblue;
        left: -25px;
        top: -50px;
    }
    12.5%{
        left: 25px;
        top: -50px;
    }
    25%{
        background-color: rgb(51, 126, 129) ;
        left: 50px;
        top: -25px;
    }
    37.5%{
        left: 50px;
        top: 25px;
    }
    50%{
        background-color: rgb(45, 177, 182) ;
        left: 25px;
        top: 50px;
    }
    62.5%{
        left: -25px;
        top: 50px;
    }
    75%{
        background-color: rgb(92, 206, 210);
        left: -50px;
        top: 25px;
    }
    87.5%{
        left: -50px;
        top: -25px;
    }
    100%{
        background-color: cadetblue ;
        left: -25px;
        top: -50px;
    }
}

@media (min-width: 390px){
    header{
        width: 350px;
    }
    .country__name{
        font-size: 22px;
    }
    .temperature__change{
        font-size: 18px;
    }
    .icon__container img{
        width: 140px;
    }
    .icon__container h3{
        font-size: 20px;
    }
    .weather__temperature{
        width: 350px;
    }
    .temperature{
        font-size: 70px;
        margin-top: -4px ;
    }
    .main__temperature p{
        margin-top: -80px;
    }
    .minmax{
        font-size: 12px;
        margin-top: -70px;
    }
    ul{
        width: 350px;
    }
    ul li{
        padding: 0 1rem;
    }
    .name__tag{
        font-size: 12px;
    }
    .info__tag{
        font-size: 18px;
    }
}
